{
  "consumer_key":"iiiiiiiiiiiiiiiiiiiiiiiiii",
  "consumer_secret":"uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu",
  "token_key":"yyyyyyyyyyyyyyyyyy-zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz",
  "token_secret":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "admin_profile":"@my_username_for_messages"
}